@model FaqModel

@using Nop.Web.Areas.Admin.Models.FAQs

@{
    ViewBag.PageTitle = T("Admin.ContentManagement.FAQ.EditFaqDetails").Text;
    NopHtml.SetActiveMenuItemSystemName("Faqs");
}

<form asp-controller="Faq" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.ContentManagement.FAQ.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="faq-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TopicDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateFaq", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="faq-delete" />
