@using Nop.Web.Areas.Admin.Models.FAQs
@model FaqSearchModel

@{
    ViewBag.PageTitle = T("Admin.ContentManagement.Faq").Text;

    NopHtml.SetActiveMenuItemSystemName("Manage faq");
}

@{
    const string hideSearchBlockAttributeName = "FaqListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.ContentManagement.Faq")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">@T("Admin.ContentManagement.FAQ.CreateFaq")</a>
        @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ForumListButtons, additionalData = Model })
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchCategoryId"/>
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories"/>
                                        </div>
                                    </div>
                                    <div class="form-group row" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchIncludeSubCategories"/>
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchIncludeSubCategories"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchProductName"/>
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchProductName"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-faqs" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">

                        @await Html.PartialAsync("Table", new DataTablesModel
                               {
                                   Name = "faq-grid",
                                   UrlRead = new DataUrl("List", "Faq", null),
                                   PrimaryKeyColumn = nameof(FaqModel.Id),
                                   SearchButtonId = "search-faqs",
                                   Length = Model.PageSize,
                                   LengthMenu = Model.AvailablePageSizes,
                                   Filters = new List<FilterParameter>
                                   {
                                       new FilterParameter(nameof(Model.SearchCategoryId)),
                                       new FilterParameter(nameof(Model.SearchIncludeSubCategories), typeof(bool)),
                                       new FilterParameter(nameof(Model.SearchProductName)),
                                   },
                                   ColumnCollection = new List<ColumnProperty>
                                   {
                                       new ColumnProperty(nameof(FaqModel.QuestionTitle))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.QuestionTitle").Text,
                                           Width = "200"
                                       },
                                       new ColumnProperty(nameof(FaqModel.AnswerTitle))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.AnswerTitle").Text,
                                           Width = "200"
                                       },
                                       new ColumnProperty(nameof(FaqModel.CategoryName))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.CategoryName").Text,
                                           Width = "50",
                                           
                                       },
                                       new ColumnProperty(nameof(FaqModel.ProductName))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.ProductName").Text,
                                           Width = "50",
                                           
                                       },
                                       new ColumnProperty(nameof(FaqModel.CreatedOnUtc))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.CreatedOnUtc").Text,
                                           Width = "100",
                                           
                                       },
                                       new ColumnProperty(nameof(FaqModel.UpdatedOnUtc))
                                       {
                                           Title = T("Admin.ContentManagement.FAQ.Fields.UpdatedOnUtc").Text,
                                           Width = "100",
                                           
                                       },
                                       new ColumnProperty(nameof(FaqModel.Id))
                                       {
                                           Title = T("Admin.Common.Edit").Text,
                                           Width = "50",
                                           ClassName = NopColumnClassDefaults.Button,
                                           Render = new RenderButtonEdit(new DataUrl("Edit"))
                                       }
                                   }
                               })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>