@model ConfigurationModel

@using Nop.Plugin.ProductProvider.Infigo.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="ProductProviderInfigo" asp-action="Configure" method="post">
    
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <p>
                    1. Api's type represents the api's authorization scheme type.<br>
                    2. Base Api Url represents the api's basic Url.<br>
                    3. Get all products Url represents the api's GetAllProducts request Url.<br>
                    4. Get product by id Url represents the api's GetProductByIdUrl request Url.<br>
                    5. Default product picture represents the picture api's Url you will use as default if don't upload an image.<br>
                </p>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">Api Key</p>
                    </div>
                    <div class="col-md-11">
                        <input name="ApiKey" type="text" value="@Model.ApiKey" asp-for="ApiKey" placeholder="Insert Api Key" class="form-control">
                        <nop-label asp-for="ApiKey"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">Base Api Url</p>
                    </div>
                    <div class="col-md-11">
                        <input name="BaseApiUrl" type="text" value="@Model.BaseApiUrl" asp-for="BaseApiUrl" placeholder="Insert Base Api Url" class="form-control">
                        <nop-label asp-for="BaseApiUrl"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">Get All Products</p>
                    </div>
                    <div class="col-md-11">
                        <input name="GetAllProductsUrl" type="text" value="@Model.GetAllProductsUrl" asp-for="GetAllProductsUrl" placeholder="Insert Get All Products Url" class="form-control">
                        <nop-label asp-for="GetAllProductsUrl"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">Get Product</p>
                    </div>
                    <div class="col-md-11">
                        <input name="GetProductByIdUrl" type="text" value="@Model.GetProductByIdUrl" asp-for="GetProductByIdUrl" placeholder="Insert Get Product By Id Url" class="form-control">
                        <nop-label asp-for="GetProductByIdUrl"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        <p class="font-weight-bold">Default Image Url</p>
                    </div>
                    <div class="col-md-11">
                        <input name="DefaultProductPicture" type="text" value="@Model.DefaultProductPicture" asp-for="DefaultProductPicture" placeholder="Insert Default Product Picture Url" class="form-control">
                        <nop-label asp-for="DefaultProductPicture"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-11 offset-md-1">
                        <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>